<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="account_huang.dao.CommonDao">
    <!-- -->
    <select id="findAllColumnByTableNameWithoutID"   resultType="java.lang.String">
	   select COLUMN_NAME from user_tab_cols where table_name = upper(#{tableName}) and COLUMN_NAME !='ID'
    </select>
    
    <delete id="deleteById" >
	      delete from  ${tableName} where id in  
	      <foreach collection="ids" 
            open="(" close=")" separator="," item="id">
            #{id}
          </foreach>
	</delete>  
	
	
	 <select id="queryCount"   resultType="java.lang.Integer">
      	select count(*) from ${tableName} where HOLDERNAME= #{username}
      	 <if test="column !=null" > and ${column} = #{value} </if>
    </select>
    
    <update id="order" >
      	UPDATE ${tableName} SET ORDER_NO=#{orderNo} WHERE ID= #{id}
    </update>
    
    <insert id="saveLog" parameterType="account_huang.entity.Log" >
    	insert into OPERATE_LOG VALUES( #{id}, #{moduleName}, #{userId}, #{username}, #{logDate}, #{operate}, #{result}, #{detail})
	</insert>
</mapper>