<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="account_huang.dao.DiaryMapper" >
  <resultMap id="mainResultMap" type="account_huang.entity.Diary" >
    <result column="ID" property="id" />
    <result column="TITLE" property="title" />
    <result column="TAG_TIME" property="tagTime" />
    <result column="LAST_TIME" property="lastTime" />
    <result column="HOLDERNAME" property="holdername" />
    <result column="CONTENT" property="content" />
  </resultMap>

  <sql id="All_Column_List" >
    ID, TITLE, TAG_TIME, LAST_TIME, HOLDERNAME, CONTENT
  </sql>

  <select id="findAllPage" resultMap="mainResultMap" >
  	select * from (
	        	select ROW_NUMBER() OVER(order by TAG_TIME desc ) as RN,a.* from DIARY  a where holdername=#{username})
		 where RN between #{startNumber} and #{endNumber}
  </select>

  <select id="findById" resultMap="mainResultMap" >
    select ID, TITLE, TAG_TIME, LAST_TIME, HOLDERNAME, CONTENT
    from DIARY
    where ID = #{id}
  </select>

  <insert id="save" parameterType="account_huang.entity.Diary" >
	  <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id" > 
		              select SEQ_DIARY_ID.nextval from dual 
		       </selectKey> 
    insert into DIARY(ID, TITLE, TAG_TIME, LAST_TIME, HOLDERNAME, CONTENT) 
    	values(#{id}, #{title},#{tagTime},  #{lastTime},#{holdername},#{content} )
  </insert>

  <update id="update" parameterType="account_huang.entity.Diary" >
    update DIARY set TITLE = #{title}, TAG_TIME = #{tagTime}, LAST_TIME = #{lastTime}, HOLDERNAME = #{holdername},CONTENT = #{content}
    where ID = #{id}
  </update>

</mapper>
