<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="account_huang.dao.HierarchyMapper" >
  <resultMap id="mainResultMap" type="account_huang.entity.Hierarchy" >
    <result column="ID" property="id" />
    <result column="TYPE" property="type" />
    <result column="PARENT_ID" property="parentId" />
    <result column="PARENT_TYPE" property="parentType" />
    <result column="HOLDERNAME" property="holdername" />
     <result column="CATEGORY" property="category" />
  </resultMap>
  
  <resultMap id="selectResultMap" type="account_huang.entity.SelectUtilEntity" >
    <result column="ID" property="id" />
    <result column="TEXT" property="text"/>
  </resultMap>

  <sql id="All_Column_List" >
    ID, TYPE, PARENT_ID, HOLDERNAME,CATEGORY
  </sql>

  <select id="findAllPage" resultMap="mainResultMap" >
      select * from (
	        	select ROW_NUMBER() OVER(order by A.TYPE) as RN,A.CATEGORY,A.ID, A.TYPE, A.PARENT_ID,
	        	(SELECT B.TYPE FROM HIERARCHY B WHERE B.ID=A.PARENT_ID ) AS PARENT_TYPE ,A.HOLDERNAME
   			 from HIERARCHY A 
		 where A.holdername=#{username} ORDER BY A.CATEGORY,A.PARENT_ID
	     )
		 where RN between #{startNumber} and #{endNumber}
  </select>
  
    <select id="findAllType" resultMap="selectResultMap" >
    	SELECT ID, TYPE AS TEXT FROM HIERARCHY where holdername=#{username} and parent_id is null
    </select>

  <select id="findById" resultMap="mainResultMap" >
    select ID, TYPE, PARENT_ID, HOLDERNAME,CATEGORY
    from HIERARCHY
    where ID = #{id}
  </select>

  <insert id="save" parameterType="account_huang.entity.Hierarchy" >
  	 <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id" > 
			select SEQ_HIERARCHY_ID.nextval from dual 
	  </selectKey> 
  
    insert into HIERARCHY
    <trim prefix="(" suffix=")" suffixOverrides="," >
       ID,
      TYPE,
      <if test="parentId != null" >        PARENT_ID,      </if>
      HOLDERNAME,CATEGORY
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       #{id},
      #{type},
      <if test="parentId != null" >        #{parentId},      </if>
      #{holdername},#{category}
    </trim>
  </insert>

  <update id="update" parameterType="account_huang.entity.Hierarchy" >
    update HIERARCHY
    set TYPE = #{type},CATEGORY=#{category}
      <if test="parentId != null" >        ,PARENT_ID = #{parentId}    </if>
    where ID = #{id}
  </update>
  
  <delete id="deleteCascaded">
	      delete from  HIERARCHY where id in (${ids}) or parent_id in (${ids})
	</delete>  
	
	 <select id="findAllMainTypeByHoldernameAndCategory" resultType="java.lang.String" >
	 	 select type from HIERARCHY WHERE HOLDERNAME=#{holdername} AND PARENT_ID IS NULL
 	 </select>
 	 
 	 <select id="findAllNextLevelTypeByHoldernameAndParentType" resultType="java.lang.String" >
	 	 select A.type from HIERARCHY A join HIERARCHY B ON A.PARENT_ID=B.ID
	 	 	WHERE A.HOLDERNAME=#{holdername} AND B.TYPE=#{type}
 	 </select>

</mapper>
