<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="account_huang.dao.CommonDao">
    <!-- -->
    <select id="findAllColumnByTableNameWithoutID"   resultType="java.lang.String">
	   select COLUMN_NAME from user_tab_cols where table_name = upper(#{tableName}) and COLUMN_NAME !='ID'
    </select>
    
    <delete id="deleteById"  parameterType="java.util.HashMap">
	      delete from  ${tableName} where id in (${ids})
	</delete>  
	
	 <select id="queryCount"   resultType="java.lang.Integer">
      	select count(*) from ${tableName} where HOLDERNAME= #{username}
      	 <if test="column !=null" > and ${column} = #{value} </if>
    </select>
</mapper>