<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="account_huang.dao.PropertyDao">
	 <resultMap id="propertyResult" type="account_huang.entity.Property">
		<result property="id" column="id" />		<result property="card1" column="card1" />
		<result property="card2" column="card2" />	<result property="card3" column="card3" />
		<result property="card4" column="card4" />		<result property="card5" column="card5" />
		<result property="card6" column="card6" />	<result property="cash" column="cash" />
		<result property="housingFund" column="housingFund" />	<result property="alipay" column="alipay" />
		<result property="holderName" column="holderName" />	<result property="creditCard" column="creditCard" />
		<result property="rent" column="rent" />	<result property="mortgage" column="mortgage" />
		<result property="loan2" column="loan2" />	<result property="loan1" column="loan1" />
		<result property="remark" column="remark" /><result property="times" column="times" />
		<result property="total" column="total" />
	</resultMap>
	
	<insert id="save" parameterType="account_huang.entity.Property">  
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id" > 
              select SEQ_property_ID.nextval from dual 
       </selectKey>    
	    INSERT INTO property
	    <trim prefix="(" suffix=")" suffixOverrides="," >
       				 ID,times,HOLDERNAME,
		    <if test="card1 != null" >card1,</if>
		    <if test="card2 != null" >card2,</if>
		    <if test="card3 != null" >card3,</if>
		    <if test="card4 != null" >card4,</if>
		    <if test="cash != null" >cash,</if>
		    <if test="housingFund != null" >housingFund,</if>
		    <if test="alipay != null" >alipay,</if>
		    <if test="creditCard != null" >creditCard,</if>
		    <if test="rent != null" >rent,</if>
		    <if test="mortgage != null" >mortgage,</if>
		    <if test="loan2 != null" >loan2,</if>
		    <if test="loan1 != null" >loan1,</if>
		     <if test="remark != null" >remark,</if>
	  </trim>
	  <trim prefix="values (" suffix=")" suffixOverrides="," >
     			 #{id,jdbcType=DECIMAL},#{times},#{holderName},
     	    <if test="card1 != null">#{card1},</if>
		    <if test="card2 != null">#{card2},</if>
		    <if test="card3 != null">#{card3},</if>
		    <if test="card4 != null">#{card4},</if>
		    <if test="cash != null">#{cash},</if>
		    <if test="housingFund != null">#{housingFund},</if>
		    <if test="alipay != null">#{alipay},</if>
		    <if test="creditCard != null">#{creditCard},</if>
		    <if test="rent != null">#{rent},</if>
		    <if test="mortgage != null">#{mortgage},</if>
		    <if test="loan2 != null">#{loan2},</if>
		    <if test="loan1 != null">#{loan1},</if>
		    <if test="remark != null">#{remark},</if>
     </trim> 
	</insert>
	
	<update id="updateTotal" parameterType="account_huang.entity.Property">
		update property b set b.total=(
			SELECT NVL(A.CARD1, 0) + NVL(A.CARD2, 0) + NVL(A.CASH, 0) +
                          NVL(A.HOUSINGFUND, 0) + NVL(A.ALIPAY, 0) +
                          NVL(A.CREDITCARD, 0) + NVL(A.RENT, 0) +
                          NVL(A.MORTGAGE, 0) + NVL(A.LOAN1, 0) +
                          NVL(A.LOAN2, 0)
                     FROM PROPERTY A
                    WHERE A.times=#{times}
		) where b.times=#{times}
	</update>
	
	<update id="update" parameterType="account_huang.entity.Property">
		update property set times=#{times}
			 <if test="card1 !=null ">,card1=#{card1}</if> 
	   		 <if test="card2 !=null ">,card2=#{card2}</if> 
			 <if test="card3 !=null ">,card3=#{card3}</if> 
			 <if test="card4 !=null ">,card4=#{card4}</if> 
			 <if test="cash !=null ">,cash=#{cash}</if> 
			 <if test="alipay !=null ">,alipay=#{alipay}</if> 
			 <if test="creditCard !=null ">,creditCard=#{creditCard}</if> 
			 <if test="rent !=null ">,rent=#{rent}</if> 
			 <if test="mortgage !=null ">,mortgage=#{mortgage}</if> 
	   		 <if test="loan2 !=null ">,loan2=#{loan2}</if> 
			 <if test="loan1 !=null ">,loan1=#{loan1}</if> 
			 <if test="remark !=null ">,remark=#{remark}</if> 
   		  where id=#{id}
	</update>
	
	<update id="updateCards" parameterType="java.util.HashMap">
		update cards set balance=#{balance}
   		  where id=(SELECT VALUE FROM codes WHERE code=#{cardNum})
	</update>
	

    <select id="getAllPropertyInfoByHoldername" parameterType="java.lang.String" resultMap="propertyResult">
   		select * from property where holdername=#{holdername} order by times desc
    </select>
    
    <select id="findById" parameterType="java.lang.String" resultMap="propertyResult">
    	 select * from property where id=#{id}
    </select>
    
    <select id="getMaxKey"  resultType="Integer">
    	 select max(id) from property
    </select>
    
    <delete id="deleteById" parameterType="java.lang.String">
    	 delete from property where id in
	        <foreach item="id" collection="array" open="(" separator="," close=")">
				#{id}
			</foreach>
    </delete> 
</mapper>